<header class="blog-header">
  <div class="row">
    <div class="col-xs-3 col-md-4">
      <hr>
    </div>
    <div class="col-xs-6 col-md-4">
      <h1 class="blog-title">Ugh A Blog</h1>
    </div>
    <div class="col-xs-3 col-md-4">
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1 col-md-4">
    </div>
    <div class="col-xs-10 col-md-4">
      <h3 class="blog-subtitle">At least it's about Ruby</h3>
    </div>
    <div class="col-xs-1 col-md-4">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
    </div>
  </div>
</header>